# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/JavaScript/Express js/node_modules
/JavaScript/Advance/modules/Express js/node_modules
/Front-End/Workshop/Hack_AND_Build_FullStack_Bootcamp/node_modules
JavaScript/Advance/Modules/React JS/WeatherDashboard/.env
JavaScript/Advance/Modules/React JS/MovieSearcher/.env
