* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 22px;
}
p {
    color: blueviolet;
}

.lotof {
    color: aqua;
}

#doko {
    color: blanchedalmond;
}

h4, h5 {
    color: aquamarine;
}

body h3 {
    color: blue;
}

.highlight {
    text-transform: uppercase;
    background-color: brown;
}