@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;

}
#initial-loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0C0C0D;
  z-index: 1022;
  color: white;
  font-family: 'Inter', sans-serif;
}

#initial-header-span{
  z-index: 1000;
  font-size: 5rem;
  color: white;
  display: block;
}

#ls12 {
  display: block;
  font-size: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  
}

#initial-button {
  width: 10rem;
  height: 4rem;
  background-color: #0C0C0D;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 1rem 2rem;
}

#initial-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
#initial-button:active {
  transform: scale(0.95);
}
#initial-button svg {
  width: 100%;
  height: 100%;
}
#initial-button:hover {
  color: #ff0000;
  transform: scale(1.05);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

#blinker {
  animation: blinker 1s forwards infinite ease-in-out,transform 0.3s ease-in-out;
  color: white;
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  position: fixed;
  top: 2%;
  left: 2%;
}
#blinker svg {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0 0 16px #fff700) drop-shadow(0 0 32px #fff700);
  animation: lightning-flash 0.5s infinite alternate;
}

#blinker svg path {
  fill: #fff700;
  stroke: #fff700;
  stroke-width: 2;
}

#blinker:hover svg {
  transform: scale(1.2);
}



@keyframes lightning-flash {
  0%, 100% {
    opacity: 1;
    filter: drop-shadow(0 0 16px #fff700) drop-shadow(0 0 32px #fff700);
  }
  50% {
    opacity: 0.3;
    filter: drop-shadow(0 0 2px #fff700);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }

}

#app-container {
  height: 100vh;
  width: 100vw;
}
#root {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/);
  font-family: 'Segoe UI', sans-serif;
  background-color: color-mix(in oklch, #0C0C0D 100%, transparent);  z-index: -1;

}
#header-container {
  position: relative;
  top: 0;
  left: 0;
  height: 5rem;
  background-color: rgba(12, 12, 13, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  border-bottom: #ffffff5d solid 1px;
}

#search-box {
  position: absolute;
  top: 20px;
  left: 50%;  
  transform: translateX(-50%);
  z-index: 1000;
  animation: border-glow 1s ease-in-out infinite alternate;
  border-radius: 50px;

}
#search-box input{
  position: relative;  
  z-index: 1000;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: #fff;
  width: 0;
}

#search-box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-image: url('./assets/svgs/search.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1001;
  /* color: black; */
  width: 1.3rem;
  background-color: transparent;
  height: 1.3rem;
  
}

@keyframes border-glow {
  0% {
    border: 3px solid black;
  }
  100% {
    border: 3px solid white;
  }
}

#options-container {
  position: absolute;
  top: 20px;
  left: 10%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  gap: 1em;
}

#home-button , #shuffle-button{
  width: 2rem;
  height: 2rem;
  outline: none;
  border: none;
  background-color: transparent;
}
#home-button svg, #shuffle-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}
#home-button:hover svg, #shuffle-button:hover svg {
  transform: scale(1.2);
}
#color-mode-box {
  position: absolute;
  top: 20px;
  right: 10%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  gap: 1rem;
  border: 1px solid #fff;
}

#initial-container {
  display: flex;
    
}

#overlay-box {
  position: absolute;
  width: 100%;
  height: 100%;  
}

#recent-container {
  display: none;
  width: 100%;
  height: 15%;
  margin: 1rem auto;
}

#overlay-maincontainer {
  width: 100%;
  bottom: 0;
  border-radius: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
#current-weather-container {
  max-width: 21%;
  max-height: 80%;
  position: absolute;
  right: 1rem;
  margin: 1rem;
  padding: 1rem;
  color:#fff;
  background-color: rgba(12, 12, 13, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1000;
}

#current-weather {
  width: 100%;
  position: relative;

}

#weather-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  max-height: max-content;
  margin: 0.5rem;
  padding: 0.5rem;
  overflow-y: auto;
}

@media (max-width: 768px) {
  #current-weather-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: max-content;
    min-width: 70%;
    padding: 1rem;
    z-index: 1000;
  }
  #weather-table {
    height: 90%;
    max-height: 50vh;
    overflow-y: auto;
  }
}

@media (min-width: 769px) and (max-width: 968px) {
  #current-weather-container {
    width: 50%;
    max-height: max-content;
    max-width: max-content;
    height: auto;
  }

  #weather-table {
    max-height: max-content;
    overflow-y: auto;
  }
}
@media (min-width: 969px) and (max-width: 1444px) {
  #current-weather-container {
    width: 30%;
    max-height: max-content;
    max-width: max-content;
    height: auto;
  }

  #weather-table {
    max-height: 45vh;
    overflow-y: auto;
  }
}
@media (min-width: 1444px) and (max-width: 2000px) {
  #current-weather-container {
    width: 25%;
    max-height: max-content;
    max-width: max-content;
    /* height: auto; */
  }

  #weather-table {
    max-height: max-content;
    overflow-y: auto;
  }
}

.other-weather-row {
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#city-heading {
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bold;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  color: #fff;
  font-family:  ui-sans-serif, "Roboto", "Inter", "Montserrat", sans-serif;
  margin-left: 0.5rem;
}

#city-heading::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  margin-top: 0.5rem;
}

#main-weather-row {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 0.5rem auto;
}

#temp-value {
  /* width: 60%; */
  height: auto;
  font-size: calc(2rem + 1vw);
  font-weight: bold;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: last baseline;
  justify-content: left;
  text-align: left;
  flex-direction: column;
}

#weather-icon {
  width: 100px;
  height: 100px;
  display: block;
  right: 0;
  padding: 0;
  margin: 0rem 1rem ;
  
}

#weather-description {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
}

#map-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}