<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%# 2 + 2 %>
    <%# text121 // we can prevent error by using locals. %>
    Hello <%/*locals.texta || 'Default' */ %>
</body>
</html>