.movie-card {
  position: relative;
  background-color: #2a2a2a;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  width: 200px;
  height: min-content; 
}

.movie-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.movie-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 25 / 37; 
  object-fit: cover; 
  image-rendering: auto; 
  display: block;
}

#title-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30%;
  background-color: #050505bb;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.movie-card:hover #title-wrapper {
    display: flex;
}

#title-wrapper h3 {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
    overflow-wrap:break-word;
}

#fav-icon {
    position: absolute;
    width: 100%;
    top: 0;
    display: none;
    justify-content: end;
    align-items: end;
}

.movie-card:hover #fav-icon {
  display: flex;
}

#fav-icon:has(.fav-btn.isfav) {
  display: flex;
}



.fav-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.fav-btn svg {
  stroke: #ff3c00;
  fill: transparent;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

.fav-btn:hover {
  background-color: rgba(255, 60, 0, 0.1);
  transform: scale(1.1);
}
/* 
.fav-btn:hover svg {
  fill: #ff3c00;
  stroke: #fff;
}

.fav-btn svg, .isfav{
  fill: #ff3c00;
  stroke: #fff;
}

.fav-btn svg, .isNTfav{
  fill: transparent;
  stroke: #ff3c00;
} */

.fav-btn.isfav svg {
  fill: red;
  transition: fill 0.3s ease;
}

.fav-btn.isNTfav svg {
  fill: none;
  transition: fill 0.3s ease;
}

.fav-btn:hover svg {
  fill: crimson;
}
