.movie-card {
  position: relative;
  background-color: #2a2a2a;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  width: 200px; 
}

.movie-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.movie-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 25 / 37; 
  object-fit: cover; 
  image-rendering: auto; 
  display: block;
}

#title-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30%;
  background-color: #050505bb;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.movie-card:hover #title-wrapper {
    display: flex;

}

#title-wrapper h3 {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
    overflow-wrap:break-word;
}
.movie-type {
    margin: 0.25rem;
    font-size: 0.9rem;
    color: #cccccc;
    text-transform: capitalize;
}

#fav-icon {
    position: absolute;
    width: 100%;
    top: 0;
    display: none;
    justify-content: end;
    align-items: end;
    /* height: 10%; */
}

.movie-card:hover #fav-icon {
  display: flex;
}

.fav-btn {
    margin-top: 0.5rem;
    background-color: #ff3c00;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.fav-btn:hover {
    background-color: #ffdb4d;
}

